<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>User Dashboard</title>
</head>
<body>
  <section>
    <h1>Welcome <br> You are normal user,</h1>
	<h2>This is your private dashboard</h2>
	
	<h2>User Name : <span th:text="${user.name}"></span></h2>
	<h2>User Email : <span th:text="${user.email}"> </span> </h2>
	
	<h2><a href="" th:href="@{/logout}">Logout</a></h2>
  
  </section>
	
</body>
</html>